.btn{
    border: none;
}
.icon_style{
    color: rgb(12, 9, 9);
    font-size: 12px;
    font-weight: bold;
}
.icon_style:hover{
    color: rgb(237, 17, 17);   
}
.active_icon{
    color: rgb(237, 17, 17);
}
.footer_menu{
    position: absolute;
    /* height: 100px; */
    bottom: 0;
    width: 36%;
    /* background-color: transparent */
}
